<header class="nav-layout">
  <app-nav-bar></app-nav-bar>
</header>
<div class="content-layout">
  <router-outlet></router-outlet>
</div>
<aside class="cookies-message">
  <app-cookies-message></app-cookies-message>
</aside>