.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  font-family: arial;
  text-align: center;
  z-index: 90;
  padding: 20px;
}

.cookies__boton {
  background: initial;
  border: 2px solid white;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  width: 5rem;
  text-align: center;
}

.cookies__titulo{
  color: white;
}