<section class="cookies" #CookieSection *ngIf="hasLocalStorage">
  <h2 class="cookies__titulo">¿Aceptas nuestras Cookies?</h2> 
  <p class="cookies__texto">Usamos cookies para mejorar tu experiencia en la web.</p>
  <div class="cookies__botones">
      <button class="cookies__boton cookies__boton--no" (click)="rejectCookies()" #CookieNo>No</button>
      <button class="cookies__boton cookies__boton--si" (click)="acceptCookies()" #CookieYes>Si</button>
  </div>
</section>

<!-- No borrar, aquí se generarán todas las etiquetas <script> si acepta el usuario -->
<div id="nuevosScripts" #CookieScripts></div>