@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Play:wght@400;700&display=swap");

@mixin depure {
  background-color: rgb(255, 0, 255);
}

@keyframes bit-cursor-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes numbers-animation {
  0% {
    width: 0px;
  }
  25% {
    width: 25px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 100px;
  }
}

#bunker-code {
  height: 100vh;
  width: 100%;

  .bc__container {
  }

  .bc__code {
    //font-family: 'Nova Mono', monospace;
    font-family: "Play", sans-serif;
    font-size: 3rem;
    overflow: hidden;
    //@include depure;
    /* animation-name: numbers-animation;
    animation-duration: 1s;
    animation-iteration-count: 1; */

    &::after {
      content: ".";
      margin-left: 2px;
      display: inline-block;
      width: 10px;
      height: 3rem;
      background-color: white;
      animation-name: bit-cursor-animation;
      animation-duration: 0.95s;
      animation-iteration-count: infinite;
    }
  }
}
