<!-- <p>bunker-alfa-page works!</p>

<pre>{{bunkerCode | json}}</pre> -->

<section id="bunker-code" fxLayout="row" fxLayoutAlign="space-around center" >
  <div class="bc__container" fx="100" fxLayout="row" fxLayoutAlign="space-around center" >
    <span #bcCode class="bc__code">
      <!-- {{ bunkerCode.password }} -->
    </span>
  </div>
</section>