@import "/src/global-style-variables.scss";


.navbar {
  background-color: #892be200;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;

  .logo{
    font-weight: 300;
    font-size: 0.9rem;
  }

  .paths {
    background-color: $main-color;
    height: 100vh;
    width: 70vw;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;

    &.closed {
      display: none;
    }

    .item {
      box-sizing: border-box;

      border-bottom: 1px solid #bbbbbb;
      font-size: 0.8rem;
      padding: 10px 5px;
      display: flex;

      &.close-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        .close-button {
          font-size: 1.3rem;
          padding: 5px;
          margin-right: 5px;

          &:active {
            //background-color: #fff;
            font-size: 1rem;
            margin-right: 7px;
          }
        }
      }

      .link {
        text-decoration: none;
        align-content: stretch;
        display: block;
        width: 100%;
        padding: 0.5rem;
        padding: 5px;
      }
    }
  }
}



@media screen and (min-width: 1012px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;

    .open-nav {
      display: none;
    }
    .paths {
      background-color: #00000000;
      height: inherit;
      width: unset;
      position: unset;
      z-index: unset;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      border-top-left-radius: initial;
      border-bottom-left-radius: initial;
      overflow-y: none;
  
      &.closed {
        display: inherit;
      }

      
      .close-nav{
        display: none !important;
      }

      .list{
        display: flex;
        gap: 10px;
        flex-direction: row;

        
        .item {
          box-sizing: border-box;
    
          border-bottom: initial;
          font-size: 0.85rem;
          padding: initial;
          display: initial;
    
          .link {
            text-decoration: none;
            align-content: stretch;
            display: block;
            width: 100%;
            padding: 0.5rem;
            padding: 5px;
            text-align: center;

            &:hover{
              opacity: 0.7;
            }
            &:active{
              transform: scale(0.8);
            }
          }
        }
      }

    }
  }
}


