<nav class="navbar">
  
  <div class="logo nissan-font">
    <a routerLink="/" >
      <strong>BuscaCode</strong>
    </a>
  </div>

  <div class="paths" [ngClass]="{'closed': !isNavBarOpen}">
    <div class="item close-nav">
      <div class="close-button" (click)="isNavBarOpen=!isNavBarOpen">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <ul class="list">
      <li class="item">
        <a class="link" [routerLink]="['/']">Home </a>
      </li>
  
      <li class="item">
        <a class="link" [routerLink]="['/bunkers/bunker-alfa']"> Bunker alfa </a>
      </li>
      
    </ul>
  </div>

  <div class="open-nav" (click)="isNavBarOpen=!isNavBarOpen" >
    <i class="fa-solid fa-bars"></i>
  </div>

</nav>