@font-face {
  font-family: 'NissanOpti';
  src:url('/assets/fonts/nissan_opti/NissanOpti.ttf.woff') format('woff'),
      url('/assets/fonts/nissan_opti/NissanOpti.ttf.svg#NissanOpti') format('svg'),
      url('/assets/fonts/nissan_opti/NissanOpti.ttf.eot'),
      url('/assets/fonts/nissan_opti/NissanOpti.ttf.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}