/* You can add global styles to this file, and also import other style files */
@import "./global-style-variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "./local-fonts.scss";

* {
  color: white;

  //reset
  margin: 0;
  padding: 0;
  box-sizing: border;

  /* font-family: "Montserrat", sans-serif;
  font-family: 'NissanOpti',sans-serif;
  font-family: "Ubuntu", sans-serif; */
}


html {
  background-color: $primary-color;
  /* width: 100vw;
  height: 100vh; */
  font-family: "Ubuntu", sans-serif;
  //reset
  font-size: 16px; //para utilizar con rem
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

.nissan-font{
  font-family: 'NissanOpti',sans-serif !important;
}