@import "/src/global-style-variables.scss";

#hero{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .content{
    font-size: 0.9rem;
    font-weight: normal;  
    padding: 0 15px;

    .title{
      text-align: center;
      margin-bottom: 20px;

      strong{
        width: 160px;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 1.5rem;
        text-shadow: 0 0 10px $third-color, 0 0 10px $third-color;
      }
    }

    .description{
      text-align: center;
      color: #636363; 
    }

    .action{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;

      a{
        text-decoration: none;
        display: inline-block;
        background-color: $secondary-color;
        padding: 15px;
        border-radius: 5px;

      }
      
    }
  }
}


@media (min-width: 1012px) {
  #hero{
    
    .content{
  
      .title{
  
        strong{

        }
      }
  
      .description{
      }
  
      .action{
  
        a{
  
        }
        
      }
    }
  }
 }