
<section id="hero" class="container">
  <div class="content">
    <h1 class="title">
      Encuentra Ayuda en
      <strong class=" nissan-font">
        LAST DAY ON EARTH
      </strong>
    </h1>
    <p class="description">
      Podrás encontrar algunas herramientas o información de ayuda para encontrar agradable el juego last day on earth.
    </p>

    <div class="action">
      <a [routerLink]="[ '/bunkers/bunker-alfa' ]">
        Ver Código Bunker alfa
      </a>
    </div>

  </div>
</section>